@use '../../abstracts/variables' as *
@use '../../abstracts/mixins' as *

.header
  background-color: #30353c
  position: fixed
  width: 100%
  border-bottom: 1px solid #585858
  max-height: 160px
  color: white
  z-index: 100

  .container
    display: flex
    flex-direction: column

  &__top
    height: 64px
    display: flex
    align-items: center

  &__logo
    svg
      height: 50px
      width: 50px

  &__bottom
    display: flex
    align-items: center
    height: 96px
    gap: 32px
    justify-content: space-between

  &__item
    color: white
    cursor: pointer

  &__menu
    display: flex
    gap: 32px