header.header
    .container
        .header__container
            .header__top
                |copyright
            .header__bottom
                .header__logo
                    include ../../../assets/img/header/vite.svg
                .header__menu
                    a.header__item header__item 1
                    a.header__item header__item 2
                    a.header__item header__item 3
                    a.header__item header__item 4



