doctype html
html
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width")
    link(rel="stylesheet" href="/resources/styles/style.css")

body
    h1 home
    a(href="/index") 123
    script(src="/resources/scripts/main/asd.js")
