footer.footer
  .up-btn
  .footer__top
    .container
      .footer__logos
        a(href="/")
      .footer__menu
      .footer__contacts
        a.footer__contacts-phone(href="tel:+78124980625")
          span  +7 (812) 498-06-25
        button.red-btn(data-modal="call-request") Заказать звонок
  .footer__bottom
    .container
      .footer__copyright ©2023 Все права защищены. All rights reserved SOTRANS
      .footer__links
        a(href="javascript:") Пользовательское соглашение
        a(href="javascript:") Политика конфиденциальности

