meta(charset="UTF-8")
meta(name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no")
meta(name="format-detection" content="telephone=no")
meta(http-equiv="X-UA-Compatible" content="ie=edge")
script(src='https://api-maps.yandex.ru/2.1/?apikey=55f40d92-f95e-4a19-a4da-a7ca7d641e4c&lang=ru_RU' type='text/javascript')
title
  block title
