header.header
    .header__top
      .container
        .header__logos
          a(href="/")
          a(href="/")
          a(href="/")
        .header__contacts
          a.header__contacts-phone(href="tel:+78124980625")
            span +7 (812) 498-06-25
          button.red-btn.red-btn_trans(data-modal="modal_call-request") Заказать звонок
        button.header__mobile-btn
    .header__bottom
      .container
        .header__menu



