header.header
    .container
        .header__container
            a.header__item header__item 1
            a.header__item header__item 2
            a.header__item header__item 3
            a.header__item header__item 4



