//- variables
block variables

doctype html
html(lang="ru")
  head
    link(rel="stylesheet" href="/resources/styles/app.sass")
    script(type='module' src="/resources/scripts/app.js")
    include head
  body
    include header
    main.main
      block content
    include footer

