//- variables
block variables


//- mixins


doctype html
html(lang="ru")
  head
    link(rel="stylesheet" href="/resources/styles/style.css")
    include head
  body
    include header
    main.main
      block content
    include footer

